.add,.min,.mul,.div,.pow,.exit,.sqrt,.fact,.reset{
    padding:0;
    width: 40px;
    height: 40px;
    border: solid 2px;
    background-color: rgb(103, 5, 194);
    margin: 3px;
    
}
.close-reset{
    margin-top:10px;
    margin-left:4mm ;
 

}
.operators{
    margin-left: 7mm;
}
.res{
    background-color: white;
    width: 85%;
    height: 7mm;

    margin-left: 15px;
    border: solid 5px;
    
    border-color: blueviolet royalblue fuchsia purple;
    border-radius: 0%;
}
h1{
    
    margin-left:18mm;
    color: rgb(233, 27, 27);
}
.all{
    
    

     /* @media (min-width: 35rem) {
        header {
          width: : ;
        }
      }
*/

   position: absolute   ;
   left: 40%;
   top: 21%;
   background-color:rgb(0, 0, 0);
   border: solid 1.6mm gray;
   border-radius: 20%;
   height: 450px;
   

}
#reset,#close{
    border: solid 2px;
    border-radius: 0% 00% 20% 20%;
   

}
#reset{
    position: relative;
    right:-130px;
}
.num1,.num2{
    color: white;
}
